body {
    background-color: #f8f9fa;
    padding-top: 20px;
}

.canvas-container {
    border: 2px solid #343a40;
    border-radius: 10px;
    padding: 20px;
}

canvas {
    display: block;
    margin: auto;
}
